NODE_ENV=development

PORT=3000

DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE_NAME

JWT_SECRET=your_jwt_secret

JWT_EXPIRES_IN=1d

MELHOR_ENVIO_ENABLED=false
MELHOR_ENVIO_BASE_URL=https://sandbox.melhorenvio.com.br
MELHOR_ENVIO_ACCESS_TOKEN=your_melhor_envio_access_token
MELHOR_ENVIO_USER_AGENT=ecommerce-backend (your-email@example.com)
MELHOR_ENVIO_ORIGIN_ZIP_CODE=00000000
